.body{
    background-color: #7aadb1;
}
.image{
    background: url(image.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    margin: -8px 0px 0px -8px;
}
.textHeader{
    width: 416px;
    height: 71px;
    color: #f3f5f1;
    margin: -29px 0 0 194px;
    font-size: 45px;
    position: absolute;
    z-index: 10;
    text-align: center;
}
.textHeader1{
    width: 416px;
    height: 71px;
    color: #f3f5f1;
    margin: 7px 0 0 191px;
    font-size: 45px;
    position: absolute;
    z-index: 10;
    text-align: center;
}
.text{
    width: 649px;
    height: 60px;
    color: #888f89;
    font-size: 21px;
    z-index: 8;
    position: absolute;
    margin: 89px 0 0 86px;
    font-style: italic;
}
.button{
    width: 136px;
    height: 48px;
    outline: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    margin: 157px 0 0 322px;
    border-radius: 6px;
    border: 1px solid #71bd46;
    font-size: 19px;
    background-color: transparent;
    color: #71bd46;
}
.button:hover{
    background-color: #71bd46;
    color: #fefefe;
}
.color{
    color: #71bd46 ;
    font-weight: 700;
}
.form{
    position: absolute;
    margin: 33px 0 0 879px;
    color: #71bd46;
    background-color: #3C3E4A;
    padding: 4px 26px;
    border-radius: 8px;
    text-align: center;
    font-size: 26px;
    opacity: 0.8;
    border: 1px solid #71bd46;
    font-style: italic;
}
.col1 {
    width: 100%;
    margin-top: -12px;
    height: 33px;
    font-style: italic;
    border: 1px solid #71bd46;

}
.col2 {
    width: 100%;
    height: 50px;
    margin-top: -12px;
    height: 33px;
    border: 1px solid #71bd46;
}
.button2{
    width: 100%;
    margin-top: -12px;
    height: 33px;
    border: 1px solid #71bd46;
    background-color: transparent;
    color: #71bd46;
    font-size: 20px;
}
.button2:hover{
    background-color: #71bd46;
    color: #fefefe;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #222222;
    color: #f3f5f1;
    text-align: left;
    font-size: 15px;
    opacity: 0.5;
}
.column {
    column-width: 228px;
    column-count: 1;
    column-gap: 26px;
    position: absolute;
    height: 273px;
    margin: 259px 9px;
    text-align: -moz-center;
    color: #f3f5f1;
    padding: 0px 12px;
    font-style: italic;
}
.column1 {
    column-width: 228px;
    column-count: 1;
    column-gap: 26px;
    position: absolute;
    height: 273px;
    margin: 259px 283px;
    text-align: -moz-center;
    color: #f3f5f1;
    padding: 0px 12px;
    font-style: italic;
}
.column2 {
    column-width: 230px;
    column-count: 1;
    column-gap: 12px;
    position: absolute;
    height: 273px;
    margin: 259px 545px;
    text-align: -moz-center;
    color: #f3f5f1;
    padding: 0px 12px;
    font-style: italic;
}
.headColumn{
    text-align: center;
    color: #fbfbfb;
}


